#color {
    .palette-item {
        @extend .col;
        padding: 10px 0;

        @include sm-up {
           @include make-columns(12);   
           padding: 20px 0;      
        }

        @include md-up {
           @include make-columns(4);
        }
        @include lg-up {
           @include make-columns(4);
        }
    }
    .box {
        @include make-columns(6);
        width: 90px;
        height: 90px;
        float: left;
        border-radius: 50%;
    }

    .info {
        @include make-columns(6);
        float: left;
        margin-left: 5%;
    }    

    h6 {
        font-size: 1em;
    }
    .hex, .rgb {
        font-size: 0.9em;
        margin-top: 3px;
        text-align: left;
    }
    .hex, .rgb {
        font-family: 'nobel-regular';
    }

    .box.black {
        background: $black;
    }
    .box.white {
        background: $white;
        border: 1px solid $black;
    }
    .box.bg-grey {
        background: $grey;
    }
    .box.red {
        background: $red;
    }
    .box.gold {
        background: $gold;
    }
    .box.grey {
        background: $dark-grey;
    }

    .box.light-grey {
        background: $grey;
    }

    .box.pink {
        background: $pink;
        border: 1px solid $black;
    }
}