nav.primary {
	background-color: $black;
    line-height: 1em;
    margin: 0 auto;
    padding: 0px 0;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 61px;
    z-index: 2;
    .header {
		width: 96%;
		max-width: 1200px;
		height: 100%;
		margin: 0px auto;
		padding: 0px;
		position: relative;
		z-index: 300;
	    .logo {
	    	float: left;
	    	width: 100%;
    		display: inline-block;
    		@include md-up() {
    			width: auto;
    		}
    		a {
    			top: 14px;
			    width: 162px;
			    display: block;
			    margin: 0 auto;
			    height: 30px;
			    position: relative;
    		    background: url('http://lexus.com/assets/sprite/sprites/global-sf24df3adbc.png') 0 0 no-repeat;
    		    
    			@include md-up() {
    		    margin-top: 14px;
    			width: 162px;
    			display: block;
    			position: inherit;
    			}
    		}
    
	    }
	    #categoryNav {
	    	display: none;
		    background: $black;
		    float: left;
		    /* height: 61px; */
		    /* padding-bottom: 0px; */
		    position: relative;
		    /* margin-top: 4px; */
		    text-align: right;
		    width: 51%;
		    @include md-up {
		        display: inline-block;
		    }
		}
		#categoryNav #categoryBorderWrap {
		    display: block;
		    max-width: 1200px;
		    padding: 0px 35px 0 0;
		    position: relative;
		    z-index: 16;
		}

		#categoryNav #categoryBorderWrap #categoryNavWrap {
		    // display: inline-block;
		    // width: 100%;
		}
		#categoryNav #categories {
		    // display: inline-block;
		    // margin-top: 4px;
		    // padding-right: 20px;
		    text-align: left;
		    // transition: 0.5s padding;
		    // vertical-align: top;
		    // width: 66%;
		}

		#categoryNav #categories .vehicleLink {
		        font-family: "nobel-bold", Helvetica, Arial, sans-serif;
			    text-transform: uppercase;
			    font-weight: bold;
			    font-size: 11px;
			    background: $black;
			    color: $white;
			    letter-spacing: 0.09em;
			    /* color: white; */
			    /* text-decoration: none; */
			    /* outline: none; */
			    display: inline-block;
			    /* margin-right: 0%; */
			    margin-left: 17px;
			    padding: 0px 1.5%;
			    /* position: relative; */
			    /* height: 0; */
			    /* line-height: 0; */
			    padding: 22px 15px 23px;
			    /* top: 10px; */
			    /* vertical-align: top; */
			    &.active {
			    	background: $white;
			    	color: $black;
			    }
		}
    }
}

// nav.primary {
// 	// position: relative;
// 	top: 0;
//     height: 61px;
//     position: fixed;

//     background: $black;
//     width: 100%;
//      //    z-index: 2;
//     .nav-wrapper {
//     	position: fixed;
// 	    background: $black;
// 	    top: 0;
// 	    left: 0;
// 	    right: 0;
// 	    height: 58px;
// 	    > ul li {
// 	    	display: inline-block;
// 	    }
// 	    > ul li a {
// 	    	text-transform: uppercase;
// 	    	color: $white;
// 	    	text-align: center;
// 		    font-family: "nobel-bold",Helvetica,Arial,sans-serif;
// 		    font-size: 11px;
// 		    font-weight: bold;
// 		    line-height: 17.5px;
// 		    letter-spacing: 0.1em;
// 		    text-decoration: none;
// 		    padding: 21px 25px;
// 		    width: 100%;
// 		    display: block;
// 	    }

// 	    .active a, ul li a:hover {
// 	    	background: $white;
// 	    	color: $black;
// 	    }
// 	    .not-active {
// 	    	pointer-events: none;
// 	    }
// 	 	.logo {
// 	 		margin-top: 10px;
// 	 		max-width: 200px;
// 	 		margin-right: 27px;
// 	 	}

// 	 	.search {
// 	 		z-index: 2;
// 	 		margin-top: 10px;
// 	 	}
//     }
// }

#primary-nav ul li {
	text-transform: uppercase;
	color: $white;
	text-align: center;
    font-family: "nobel-bold",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 17.5px;
    letter-spacing: 0.1em;
    text-decoration: none;
    display: block;
}

.mobile-nav {
	width: 100%;
	z-index: 3;
	height: 100vh;
	position: absolute;
	top: 0;
	padding: 0;
	left: 0;
	font-family: "nobel-bold",Helvetica,Arial,sans-serif;
    @include md-up {
       display: none;
    }
}



