nav.primary {
	// position: relative;
 //    background: $black;
 //    width: 100%;
 //    height: 58px;
 //    z-index: 2;
    .nav-wrapper {
    	position: fixed;
	    background: $black;
	    top: 0;
	    left: 0;
	    right: 0;
	    height: 58px;
	    > ul li {
	    	display: inline-block;
	    }
	    > ul li a {
	    	text-transform: uppercase;
	    	color: $white;
	    	text-align: center;
		    font-family: "nobel-bold",Helvetica,Arial,sans-serif;
		    font-size: 11px;
		    font-weight: bold;
		    line-height: 17.5px;
		    letter-spacing: 0.1em;
		    text-decoration: none;
		    padding: 21px 25px;
		    width: 100%;
		    display: block;
	    }

	    .active a, ul li a:hover {
	    	background: $white;
	    	color: $black;
	    }
	    .not-active {
	    	pointer-events: none;
	    }
	 	.logo {
	 		margin-top: 10px;
	 		max-width: 200px;
	 		margin-right: 77px;
	 	}

	 	.search {
	 		z-index: 2;
	 		margin-top: 10px;
	 	}
    }
}

#primary-nav ul li {
	text-transform: uppercase;
	color: $white;
	text-align: center;
    font-family: "nobel-bold",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 17.5px;
    letter-spacing: 0.1em;
    text-decoration: none;
    display: block;
}

input[type="checkbox"]:checked ~ label.active {
    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 50%;
      transform: rotate(225deg);
    }

    &:after {
      top: 50%;
      transform: rotate(315deg);
    }     
}

.hamburger-slim {
  background: transparent;
  // margin: 60px auto 40px;
  // position: relative;
  height: 30px;
  width: 50px;

  &:before,
  &:after {
    background: $black;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 50px;
  }

  &:before {
    box-shadow: $black 0 14px 0 0;
    position: absolute;
    top: 0;
  }

  &:after {
    position: absolute;
    top: calc(100% - 2px);
  }

  &.active {

    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 50%;
      transform: rotate(225deg);
    }

    &:after {
      top: 50%;
      transform: rotate(315deg);
    }
  }
}

// SECONDARY NAV

$button-width: 96px;                    // The width of the button area
$button-height: 96px;                   // The height of the button area
$bar-thickness: 8px;                    // The thickness of the button bars
$button-pad: 18px;                      // The left/right padding between button area and bars.
$button-bar-space: 12px;                // The spacing between button bars
$button-transistion-duration: 0.3s;     // The transition duration

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

.c-hamburger--htx {
  background-color: #ff3264;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
