.tabs {
	padding: 0 10%;
	li {
		display: inline;
		@extend .col;
        padding: 10px 0;

        @include sm-up {
           @include make-columns(4);   
           padding: 20px 0;      
        }
        @include md-up {
           @include make-columns(4);
        }
        @include lg-up {
           @include make-columns(3);
        }
	}
}

