@import "compass/css3";

.animated.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

/* show objects being animated */
.animated {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes grow { 0% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0);
    } }
@-moz-keyframes grow { 0% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0);
    } }
@keyframes grow { 0% {
        transform: translateY(-80px);
    }
    100% {
        transform: translateY(0);
    } }


.animated.grow {
	-webkit-animation:grow ease-in 1;  /* call our keyframe named grow, use animattion ease-in and repeat it only 1 time */
	-moz-animation:grow ease-in 1;
	animation:grow ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

$black: #000000;
$blue: #00abb6;
$red: #d96564;
$white:#ffffff;


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { 
	border: 0;
}

html,body {
	height:100%;
	margin:0;
}

body{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: lighter;
	background-color: $black;
}

@mixin bp($point) {
    @if $point == largeWidth {
        @media (min-width: 960px) {@content;}
    }
    @else if $point == mediumWidth {
        @media (min-width: 641px) and (max-width: 959px) { @content; }
    }
    @else if $point == smallWidth {
        @media (max-width: 640px) { @content; }
    }

    @else if $point == tinyWidth {
        @media (max-width: 320px) { @content; }
    }    
}



.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 1.5em;
	@include bp(tinyWidth) {
        font-size: 1em;
    } 
}

h2{
	font-size: 2em;
	@include bp(tinyWidth) {
        font-size: 1.5em;
    } 
}

p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	background-size: cover;
	text-align:center;
}
.slide{
	background-size: contain;
}

.fp-slides {
	h1 {
		color: white;
		text-align: left;
		width: 60%;
		position: relative;
		top: -20%;
		left: 40px;
		text-transform: uppercase;
	}
}

.fp-tableCell {
	vertical-align: top;
}

.red {
	color: $red;
}


#section0 {
	background-image: url('./../images/bg.jpg');
	ul.lines {
		display: block;
		width: 100%;
		li {
			padding: 0px 1px;
			display: inline-block;
			margin: 0 4%;
			position: relative;
			top: 0;
			&:first-child {
				margin-left:0;
			}
			&:last-child {
				margin-right:0;
			}
		}
		.blue {
			background: $blue;
		}
		.red {
			background: $red;
		}
		.short {
			height: 24px;
			top: -22px;
		}
		.medium {
			height: 45px;
		}
	}
	.fp-tableCell {
	    display: table-cell;
	    width: 100%;
	    height: 100%;
	    h1 {
		    color: $blue;
			letter-spacing: 0.2em;
			text-align: left;
			font-weight: bold;
			text-transform: uppercase;
			padding: 0 35px;

	    }
	    h2 {
		    margin-top: 10%;
    		letter-spacing: 0.1em;
		    color: $blue;
		    text-align: left;
		    font-weight: bold;
		    text-transform: uppercase;
		    padding: 0 35px;
	    }
	    .inverted {
	    	background: $blue;
	    	color: $black;
	    	padding: 0;
		    margin: 30px 35px;
		    width: 54%;
		    line-height: 30px;
		    text-align: left;
	    }
	    .scrolldown {
			position: fixed;
			bottom: 40px;
			font-size: 1em;
			left: 20px;
			color:$blue;
			text-transform: uppercase;
	    }
	}
}

#section1 {
	.title {
		padding: 40px;
		position: relative;
		font-size: 3em;
		top: 0;
		z-index: 3;
		background: white;
		left: 0;
		right: 0;
		text-transform: uppercase;
	}
}


#slide1{
		background-image: url(./../images/movie1.jpg);
}
#slide2{
	background-image: url(./../images/movie2.jpg);
}


.info {
	position: absolute;
	top: 200px;
	right: 20px;
	z-index: 2;
}

.fp-controlArrow.fp-next {
    border-width: 5px 5px 0 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    rotate: 45px;
    right: 20px;
    transform: rotate(45deg);
    border-color: $blue $blue transparent transparent;
}

.fp-controlArrow.fp-prev {
	border-width: 0 0 5px 5px;
    z-index: 1;
    width: 30px;
    height: 30px;
    rotate: 45px;
    left: 20px;
    transform: rotate(45deg);
    border-color: transparent transparent $blue $blue;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.modal {
    /* display: table-cell; */
    /* padding: 0 77px; */
    width: 100%;
    height: 100%;
    position: absolute;
    
    z-index: 2;
    .inner {
    	width: 400px;
	    height: 270px;
	    margin: 200px auto;
	    background-color: transparent;
	    position: relative;
	    z-index:9999;
    	h2 {
		    font-size: 8.0em;
		    margin-top: 100px;
		    z-index: 999;
		    /* height: 87%; */
		    vertical-align: middle;
		    text-align: left;
		    font-weight: bold;
		    text-transform: uppercase;
		    color: white;
    	}
    	.close {
    		font-size: 8.0em;
		    margin-top: 300px;
		    z-index: 999;
		    /* height: 87%; */
		    vertical-align: middle;
		    text-align: left;
		    font-weight: bold;
		    text-transform: uppercase;
		    color: white;
    	}
    }
    .mask {
    	position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: black;
	    opacity: 0.6;
	    filter: alpha(opacity=60);
	    z-index:99;
    }
    &.active {
    	touch-action: none;
	    transform: translate3d(0px, -1739px, 0px);
	    transition: all 700ms ease;
    }
}










/**** Hold-To-Confirm Buttons ****/
.hold-button {
  background-color: #F5F5F5;
  width: 128px;
  height: 32px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #E5E5E5;
  color: #E0E0E0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  margin-left: 64px;
  background-color: #607D8B;
  font-size: 12px;
  text-transform: uppercase; 

}
  .hold-button:active, .hold-button:focus {
    outline: 0;
    -webkit-appearance: none; }
  .hold-button:active {
    transition-delay: 2s;
    background-color: #81C784; }

.hold-button__bottom-bar:before {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out; }
.hold-button__bottom-bar:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear; }

.hold-button__top-bar:before {
  content: "";
  width: 0%;
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out; }
.hold-button__top-bar:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear; }

.hold-button__both-bar:before {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out; }
.hold-button__both-bar:after {
  content: "";
  width: 0%;
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out; }
.hold-button__both-bar:active:before, .hold-button__both-bar:active:after {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear; }

.hold-button__centre-bar:before {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out; }
.hold-button__centre-bar:after {
  content: "";
  width: 0%;
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out; }
.hold-button__centre-bar:active:before, .hold-button__centre-bar:active:after {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear; }

.hold-button__left-fill:before {
  content: "";
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out; }
.hold-button__left-fill:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear; }

.hold-button__right-fill:before {
  content: "";
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out; }
.hold-button__right-fill:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear; }

.hold-button__centre-fill:before {
  content: "";
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out; }
.hold-button__centre-fill:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear; }

.hold-button-circle {
  background-color: $black;
  // width: 250px;
  // height: 250px;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid $blue;
  color: $blue;
  font-size: 2.5em;
  -webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  text-align: center;
	z-index: 9999;
	bottom: 100px;
}
  .hold-button-circle:active, .hold-button-circle:focus {
    outline: 0;
    -webkit-appearance: none; }
  .hold-button-circle:active {
    background-color: #81C784;
    transition-delay: 5s; }

.hold-button-circle__in-circle:before {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  background-color: pink; }
.hold-button-circle__in-circle:active:before {
  width: 100%;
  height: 100%;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear; }

.hold-button-circle__out-circle:before {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  background-color: pink;
  z-index: 9; }
.hold-button-circle__out-circle:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  background-color: red;
  z-index: 10; }
.hold-button-circle__out-circle:active:before {
  width: 100%;
  height: 100%; }
.hold-button-circle__out-circle:active:after {
  width: 0;
  height: 0;
  background-color: $red;
  -webkit-transition: width 2s linear, height 2s linear, background-color 0s linear;
  -moz-transition: width 2s linear, height 2s linear, background-color 0s linear;
  -ms-transition: width 2s linear, height 2s linear, background-color 0s linear;
  -o-transition: width 2s linear, height 2s linear, background-color 0s linear;
  transition: width 2s linear, height 2s linear, background-color 0s linear; }

/*# sourceMappingURL=hold-buttons.css.map */