/* line 7, ../sass/global.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

/* line 12, ../sass/global.scss */
a {
  text-decoration: none;
}

/* line 15, ../sass/global.scss */
table {
  border-spacing: 0;
}

/* line 18, ../sass/global.scss */
fieldset, img {
  border: 0;
}

/* line 21, ../sass/global.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

/* line 25, ../sass/global.scss */
strong {
  font-weight: bold;
}

/* line 28, ../sass/global.scss */
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/global.scss */
caption, th {
  text-align: left;
}

/* line 37, ../sass/global.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}

/* line 44, ../sass/global.scss */
q:before, q:after {
  content: '';
}

/* line 47, ../sass/global.scss */
abbr, acronym {
  border: 0;
}

/* line 51, ../sass/global.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 56, ../sass/global.scss */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  background-color: #000000;
}

/* line 61, ../sass/global.scss */
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}

/* line 67, ../sass/global.scss */
h1 {
  font-size: 6em;
}

/* line 70, ../sass/global.scss */
p {
  font-size: 2em;
}

/* line 73, ../sass/global.scss */
.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

/* line 78, ../sass/global.scss */
.section {
  background-size: cover;
  text-align: center;
}

/* line 82, ../sass/global.scss */
.slide {
  background-size: contain;
}

/* line 87, ../sass/global.scss */
.fp-slides h1 {
  color: white;
  text-align: left;
  width: 60%;
  position: relative;
  top: -20%;
  left: 40px;
  text-transform: uppercase;
}

/* line 98, ../sass/global.scss */
.fp-tableCell {
  vertical-align: top;
}

/* line 102, ../sass/global.scss */
.red {
  color: #d96564;
}

/* line 107, ../sass/global.scss */
#section0 {
  background-image: url("./../images/bg.jpg");
}
/* line 109, ../sass/global.scss */
#section0 ul.lines {
  display: block;
  width: 100%;
  height: 60px;
}
/* line 113, ../sass/global.scss */
#section0 ul.lines li {
  padding: 0px 2px;
  display: inline-block;
  margin: 0 5%;
  position: relative;
  top: 0;
}
/* line 119, ../sass/global.scss */
#section0 ul.lines li:first-child {
  margin-left: 0;
}
/* line 122, ../sass/global.scss */
#section0 ul.lines li:last-child {
  margin-right: 0;
}
/* line 126, ../sass/global.scss */
#section0 ul.lines .blue {
  background: #00abb6;
}
/* line 129, ../sass/global.scss */
#section0 ul.lines .red {
  background: #d96564;
}
/* line 132, ../sass/global.scss */
#section0 ul.lines .short {
  height: 48px;
  top: -40px;
}
/* line 136, ../sass/global.scss */
#section0 ul.lines .medium {
  height: 90px;
}
/* line 140, ../sass/global.scss */
#section0 .fp-tableCell {
  display: table-cell;
  width: 100%;
  height: 100%;
}
/* line 144, ../sass/global.scss */
#section0 .fp-tableCell h1 {
  color: #00abb6;
  font-size: 6em;
  letter-spacing: 0.162em;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 64px;
}
/* line 154, ../sass/global.scss */
#section0 .fp-tableCell h2 {
  font-size: 7em;
  margin-top: 30%;
  letter-spacing: 0.1em;
  color: #00abb6;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 64px;
}
/* line 164, ../sass/global.scss */
#section0 .fp-tableCell .inverted {
  background: #00abb6;
  color: #000000;
  margin: 30px 120px 0 65px;
}
/* line 169, ../sass/global.scss */
#section0 .fp-tableCell .scrolldown {
  position: fixed;
  bottom: 60px;
  font-size: 4em;
  left: 90px;
  color: #00abb6;
  text-transform: uppercase;
}

/* line 181, ../sass/global.scss */
#section1 .title {
  padding: 40px;
  position: relative;
  font-size: 3em;
  top: 0;
  z-index: 3;
  background: white;
  left: 0;
  right: 0;
  text-transform: uppercase;
}

/* line 195, ../sass/global.scss */
#slide1 {
  background-image: url(./../images/movie1.jpg);
}

/* line 198, ../sass/global.scss */
#slide2 {
  background-image: url(./../images/movie2.jpg);
}

/* line 203, ../sass/global.scss */
.info {
  position: absolute;
  top: 200px;
  right: 20px;
  z-index: 2;
}

/* line 210, ../sass/global.scss */
.fp-controlArrow.fp-next {
  border-width: 10px 10px 0 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  rotate: 45px;
  right: 50px;
  transform: rotate(45deg);
  border-color: #00abb6 #00abb6 transparent transparent;
}

/* line 221, ../sass/global.scss */
.fp-controlArrow.fp-prev {
  border-width: 0 0 10px 10px;
  z-index: 1;
  width: 60px;
  height: 60px;
  rotate: 45px;
  left: 50px;
  transform: rotate(45deg);
  border-color: transparent transparent #00abb6 #00abb6;
}

/* line 233, ../sass/global.scss */
.modal {
  /* display: table-cell; */
  /* padding: 0 77px; */
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
/* line 241, ../sass/global.scss */
.modal .inner {
  width: 400px;
  height: 270px;
  margin: 200px auto;
  background-color: transparent;
  position: relative;
  z-index: 9999;
}
/* line 248, ../sass/global.scss */
.modal .inner h2 {
  font-size: 8.0em;
  margin-top: 100px;
  z-index: 999;
  /* height: 87%; */
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
/* line 259, ../sass/global.scss */
.modal .inner .close {
  font-size: 8.0em;
  margin-top: 300px;
  z-index: 999;
  /* height: 87%; */
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
/* line 271, ../sass/global.scss */
.modal .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 99;
}
/* line 282, ../sass/global.scss */
.modal.active {
  touch-action: none;
  transform: translate3d(0px, -1739px, 0px);
  transition: all 700ms ease;
}

/**** Hold-To-Confirm Buttons ****/
/* line 290, ../sass/global.scss */
.hold-button {
  background-color: #F5F5F5;
  width: 128px;
  height: 32px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #E5E5E5;
  color: #E0E0E0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  margin-left: 64px;
  background-color: #607D8B;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 313, ../sass/global.scss */
.hold-button:active, .hold-button:focus {
  outline: 0;
  -webkit-appearance: none;
}

/* line 316, ../sass/global.scss */
.hold-button:active {
  transition-delay: 2s;
  background-color: #81C784;
}

/* line 320, ../sass/global.scss */
.hold-button__bottom-bar:before {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out;
}

/* line 333, ../sass/global.scss */
.hold-button__bottom-bar:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear;
}

/* line 341, ../sass/global.scss */
.hold-button__top-bar:before {
  content: "";
  width: 0%;
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out;
}

/* line 354, ../sass/global.scss */
.hold-button__top-bar:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear;
}

/* line 362, ../sass/global.scss */
.hold-button__both-bar:before {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out;
}

/* line 375, ../sass/global.scss */
.hold-button__both-bar:after {
  content: "";
  width: 0%;
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out;
}

/* line 388, ../sass/global.scss */
.hold-button__both-bar:active:before, .hold-button__both-bar:active:after {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear;
}

/* line 396, ../sass/global.scss */
.hold-button__centre-bar:before {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out;
}

/* line 411, ../sass/global.scss */
.hold-button__centre-bar:after {
  content: "";
  width: 0%;
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 2px;
  background-color: #D43444;
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out;
}

/* line 426, ../sass/global.scss */
.hold-button__centre-bar:active:before, .hold-button__centre-bar:active:after {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear;
}

/* line 434, ../sass/global.scss */
.hold-button__left-fill:before {
  content: "";
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out;
}

/* line 448, ../sass/global.scss */
.hold-button__left-fill:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear;
}

/* line 456, ../sass/global.scss */
.hold-button__right-fill:before {
  content: "";
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out;
}

/* line 470, ../sass/global.scss */
.hold-button__right-fill:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear;
}

/* line 478, ../sass/global.scss */
.hold-button__centre-fill:before {
  content: "";
  width: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0s ease-out;
  -moz-transition: width 0s ease-out;
  -ms-transition: width 0s ease-out;
  -o-transition: width 0s ease-out;
  transition: width 0s ease-out;
}

/* line 494, ../sass/global.scss */
.hold-button__centre-fill:active:before {
  width: 100%;
  -webkit-transition: width 2s linear;
  -moz-transition: width 2s linear;
  -ms-transition: width 2s linear;
  -o-transition: width 2s linear;
  transition: width 2s linear;
}

/* line 502, ../sass/global.scss */
.hold-button-circle {
  background-color: #000000;
  width: 250px;
  height: 250px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #00abb6;
  color: #00abb6;
  font-size: 2.5em;
  -webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  text-align: center;
  z-index: 9999;
  bottom: 500px;
}

/* line 526, ../sass/global.scss */
.hold-button-circle:active, .hold-button-circle:focus {
  outline: 0;
  -webkit-appearance: none;
}

/* line 529, ../sass/global.scss */
.hold-button-circle:active {
  background-color: #81C784;
  transition-delay: 5s;
}

/* line 533, ../sass/global.scss */
.hold-button-circle__in-circle:before {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  background-color: pink;
}

/* line 553, ../sass/global.scss */
.hold-button-circle__in-circle:active:before {
  width: 100%;
  height: 100%;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
  transition: all 2s linear;
}

/* line 562, ../sass/global.scss */
.hold-button-circle__out-circle:before {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 0%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  background-color: pink;
  z-index: 9;
}

/* line 583, ../sass/global.scss */
.hold-button-circle__out-circle:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0s ease-out;
  -moz-transition: all 0s ease-out;
  -ms-transition: all 0s ease-out;
  -o-transition: all 0s ease-out;
  transition: all 0s ease-out;
  background-color: red;
  z-index: 10;
}

/* line 604, ../sass/global.scss */
.hold-button-circle__out-circle:active:before {
  width: 100%;
  height: 100%;
}

/* line 607, ../sass/global.scss */
.hold-button-circle__out-circle:active:after {
  width: 0;
  height: 0;
  background-color: #d96564;
  -webkit-transition: width 2s linear, height 2s linear, background-color 0s linear;
  -moz-transition: width 2s linear, height 2s linear, background-color 0s linear;
  -ms-transition: width 2s linear, height 2s linear, background-color 0s linear;
  -o-transition: width 2s linear, height 2s linear, background-color 0s linear;
  transition: width 2s linear, height 2s linear, background-color 0s linear;
}

/*# sourceMappingURL=hold-buttons.css.map */
