/* ///////////////////////// NUMBER OneB /////////////////////////*/
#sr2_160x600_02{
position: relative;
display: inline-block;
margin: 40px;
background-color: #fff;
width: 160px;
height: 600px;
cursor: pointer;
border: 1px solid #000;
}
#sr2_160x600_02 .label{
	width: 162px;
	height: 20px;
	position: absolute;
	left: -1px;
	top: -21px;
	font-size: 10px;
	font-family: sans-serif;
	color: #AAA;
	text-align: left;
}
#sr2_160x600_02 .live{
width: 90px;
height: 42px;
background: url(../img/live_a_full_life.png) no-repeat;
position: absolute;
left: 18px;
top: 18px;
z-index: 0;
opacity: 0.0;
}#sr2_160x600_02 .rule01{
width: 0px;
height: 0px;
background-color: #fff;
position: absolute;
border-top:2px solid #000;
left: 17px;
bottom: 534px;
z-index: 1;
}
#sr2_160x600_02 .rule02{
width: 91px;
height: 0px;
background-color: #fff;
position: absolute;
border-bottom:2px solid #000;
left: 17px;
top: 64px;
opacity: 0.0;
z-index: 3;
}
#sr2_160x600_02 .theCThybrid{
width: 73px;
height: 14px;
background: url(../img/the_CT_hybrid.png) no-repeat;
position: absolute;
background-size: contain;
left: 17px;
top: 71px;
opacity: 0.0;
z-index: 2;
}
#sr2_160x600_02 .logo{
position: absolute;
left: 17px;
bottom: 75px;
width: 112px;
height: 21px;
background: url(../img/logo.png) no-repeat;
opacity: 0.0;
}
#sr2_160x600_02 .learnMore{
transition: background 0.3s;
width: 112px;
height: 30px;
background: url(../img/learn-more.png) no-repeat;
position: absolute;
left: 24px;
bottom:32px;
z-index: 0;
cursor: pointer;
opacity: 0.0;
}
#sr2_160x600_02 .learnMore:hover{
background: url(../img/learn_more_button-Hover.png) no-repeat;
}
#sr2_160x600_02 .rcShown{
    width: 111px;
    height: 10px;
    background: url(../img/rc-f-sport-shown.png) no-repeat;
    background-position: center center;
    position: absolute;
    left: 25px;
    bottom: 11px;
    opacity: 0.0;
    z-index: 0;
}
}#sr2_160x600_02 #cover{
width: 126px;
height: 100px;
background-color: #fff;
position: absolute;
left: 17px;
top: 66px;
z-index: 1;
}
/* ///////////////////////// NUMBER OneB /////////////////////////*/