/* ///////////////////////// NUMBER OneE /////////////////////////*/
#sr160x600_05{
position: relative;
display: inline-block;
margin: 40px;
background-color: #000;
width: 160px;
height: 600px;
cursor: pointer;
}
#sr160x600_05 .resistance{
width: 126px;
height: 19px;
background: url(../img/resistance.png) no-repeat;
position: absolute;
left: 17px;
top: 16px;
z-index: 0;
opacity: 0.0;
}
#sr160x600_05 .is{
width: 15px;
height: 19px;
background: url(../img/is.png) no-repeat;
position: absolute;
left: 17px;
top: 39px;
z-index: 0;
opacity: 0.0;
}
#sr160x600_05 .futile{
width: 65px;
height: 19px;
background: url(../img/futile.png) no-repeat;
position: absolute;
left: 37px;
top: 39px;
z-index: 0;
opacity: 0.0;
}
#sr160x600_05 .rule01{
width: 0px;
height: 0px;
background-color: #000;
position: absolute;
border-top:2px solid #fff;
left: 17px;
bottom: 534px;
z-index: 4;
}
#sr160x600_05 .rule02{
    width: 126px;
    height: 19px;
    background-color: #000;
    position: absolute;
    border-top: 2px solid #fff;
    left: 17px;
    bottom: 515px;
    opacity: 0.0;
    z-index: 3;
}
#sr160x600_05 .rule03{
width: 126px;
height: 64px;
background-color: #000;
position: absolute;
border-bottom:2px solid #fff;
left: 17px;
top: 0px;
opacity: 0.0;
z-index: 3;
}
#sr160x600_05 .firstEver{
width: 126px;
height: 14px;
background: url(../img/the-first-ever-rc-coupe.png) no-repeat;
position: absolute;
background-size: contain;
left: 17px;
top: 71px;
opacity: 0.0;
z-index: 2;
}
#sr160x600_05 .logo{
position: absolute;
left: 17px;
bottom: 75px;
width: 112px;
height: 21px;
background: url(../img/logo.png) no-repeat;
opacity: 0.0;
}
#sr160x600_05 .learnMore{
width: 112px;
height: 30px;
background: url(../img/learn-more.png) no-repeat;
position: absolute;
left: 24px;
top: 600px;
z-index: 0;
cursor: pointer;
}
#sr160x600_05 .learnMore:hover{
background-color: #555;
}
#sr160x600_05 .rcShown{
width: 78px;
height: 8px;
background: url(../img/rc-f-sport-shown.png) no-repeat;
position: absolute;
left: 41px;
top: 640px;
z-index: 0;
}
#sr160x600_05 #cover{
width: 126px;
height: 100px;
background-color: #000;
position: absolute;
left: 17px;
top: 66px;
z-index: 1;
}
/* ///////////////////////// NUMBER OneE /////////////////////////*/