/* ///////////////////////// NUMBER TwoA /////////////////////////*/
#numTwoA{
position: relative;
display: inline-block;
margin: 40px;
background-color: #fff;
border: 1px solid #000;
width: 160px;
height: 600px;
cursor: pointer;
}
#numTwoA .label{
	width: 302px;
	height: 20px;
	position: absolute;
	left: -1px;
	top: -21px;
	font-size: 10px;
	font-family: sans-serif;
	color: #AAA;
	text-align: left;
}
#numTwoA .luxury{
    width: 138px;
    height: 64px;
    background-image: url(../img/luxury_full2.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    left: 14px;
    top: 8px;
    z-index: 0;
opacity: 0.0;
}
#numTwoA .thinRuleBottom{
width: 2px;
height: 0px;
background-color: #fff;
border-right:2px solid #000;
position: absolute;
left: 8px;
top: 40px;
z-index: 2;
opacity: 1.0;
}
#numTwoA .thinRuleTop{
width: 2px;
height: 0px;
background-color: #fff;
border-right:2px solid #000;
position: absolute;
left: 8px;
bottom: 560px;
z-index: 2;
opacity: 1.0;
}
#numTwoA .secondRule{
width: 148px;
height: 64px;
background-color: #fff;
border-left:2px solid #000;
position: absolute;
right: 0px;
top:8px;
z-index: 2;
opacity: 0.0;
}
#numTwoA .firstEver{
width: 126px;
height: 14px;
background-image: url(../img/the-first-ever-rc-coupe.png);
position: absolute;
background-size: contain;
left: 17px;
top: 71px;
opacity: 0.0;
z-index: 2;
}
#numTwoA .logo{
position: absolute;
left: 17px;
bottom: 75px;
width: 112px;
height: 21px;
background-image: url(../img/logo.png);
opacity: 0.0;
}
#numTwoA .learnMore{
transition: background-image 0.3s;
width: 112px;
height: 30px;
background-image: url(../img/learn-more.png);
position: absolute;
left: 24px;
bottom:32px;
z-index: 0;
cursor: pointer;
opacity: 0.0;
}
#numTwoA .learnMore:hover{
background-image: url(../../../img/learn_more_button-Hover.png);
}
#numTwoA .rcShown{
    width: 111px;
    height: 10px;
    background-image: url(../img/rc-f-sport-shown.png);
    background-position: center center;
    position: absolute;
    left: 25px;
    bottom: 11px;
    opacity: 0.0;
    z-index: 0;
}
#numTwoA #cover{
width: 126px;
height: 100px;
background-color: #fff;
position: absolute;
left: 17px;
top: 66px;
z-index: 1;
}
/* ///////////////////////// NUMBER TwoA /////////////////////////*/