/* ///////////////////////// NUMBER OneC /////////////////////////*/
#nr300x250_03{
position: relative;
display: inline-block;
margin: 40px;
background-color: #FFF;
width: 300px;
height: 250px;
cursor: pointer;
border:1px solid #000;
}
#nr300x250_03 .label{
	width: 302px;
	height: 20px;
	position: absolute;
	left: -1px;
	top: -21px;
	font-size: 10px;
	font-family: sans-serif;
	color: #AAA;
	text-align: left;
}
#nr300x250_03 .all-weatherDrive{
width: 244px;
height: 27px;
background-image: url(../img/all-weather_drive.png);
position: absolute;
left: 11px;
top: 12px;
z-index: 0;
opacity: 1.0;
}
#nr300x250_03 .lexusSedans{
width: 244px;
height: 22px;
background-image: url(../img/lexus_sedans.png);
position: absolute;
left: 12px;
top: 39px;
z-index: 0;
opacity: 1.0;
}
#nr300x250_03 .cover{
    width: 245px;
    height: 49px;
    background-color: #fff;
    position: absolute;
    right: 44px;
    top: 12px;
    z-index: 2;
}
#nr300x250_03 .optionsInfo{
width: 59px;
height: 25px;
background-image: url(../img/options_shown-important_info.png);
position: absolute;
background-size: contain;
right: 11px;
top: 172px;
opacity: 0.0;
z-index: 2;
}
#nr300x250_03 .logo{
position: absolute;
left: 12px;
top: 212px;
width: 112px;
height: 20px;
background-image: url(../img/lexus_logo.png);
opacity: 0.0;
}
#nr300x250_03 .learnMore{
transition: background-image 0.3s;
width: 112px;
height: 30px;
background-image: url(../img/learn_more_button.png);
position: absolute;
right: 12px;
bottom: 12px;
z-index: 0;
cursor: pointer;
opacity: 0.0;
}
#nr300x250_03 .learnMore:hover{
background-image: url(../img/learn_more_button-Hover.png);
}
/* ///////////////////////// NUMBER OneC /////////////////////////*/
