/* line 13, ../../scss/modules/global.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* line 21, ../../scss/modules/global.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 29, ../../scss/modules/global.scss */
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: 'nobel-book', helvetica, sans-serif;
}

/* line 37, ../../scss/modules/global.scss */
.row {
  margin: 0;
  padding: 0;
}

/* line 42, ../../scss/modules/global.scss */
h2 {
  font-family: 'nobel-bold', helvetica, sans-serif;
}

/* line 46, ../../scss/modules/global.scss */
p {
  margin: 5%;
}

/* line 51, ../../scss/modules/global.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 56, ../../scss/modules/global.scss */
.clearfix:after {
  clear: both;
}

/* line 60, ../../scss/modules/global.scss */
#topPos {
  margin-top: 50px;
}

/* line 64, ../../scss/modules/global.scss */
.navbar-default {
  font-family: 'nobel-bold', helvetica, sans-serif;
  background-color: #000000;
}
/* line 68, ../../scss/modules/global.scss */
.navbar-default .navbar-brand {
  color: #ffffff;
}
/* line 72, ../../scss/modules/global.scss */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

/* line 77, ../../scss/modules/global.scss */
.page-header {
  border-bottom: 2px solid #000000;
  margin-top: 100px;
}

/* line 82, ../../scss/modules/global.scss */
.digital-content h2 {
  text-transform: uppercase;
}

/* line 86, ../../scss/modules/global.scss */
.btn {
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 25px 14px 25px;
  background: #000;
  color: #fff;
  font-family: "nobel-bold",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 17.5px;
  letter-spacing: 0.15em;
  text-align: center;
  text-decoration: none;
  display: block;
  max-width: 200px;
  border: 2px solid #000;
  cursor: pointer;
  display: inline-block;
}
/* line 108, ../../scss/modules/global.scss */
.btn:hover, .btn:focus {
  background: #fff;
  color: #000;
  border-color: #000;
  outline: none;
}
