/* line 20, ../../scss/modules/global.scss */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../../scss/modules/global.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* line 33, ../../scss/modules/global.scss */
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: white;
}

/* line 41, ../../scss/modules/global.scss */
h1 {
  font-family: 'nobel-regular', sans-serif;
  font-size: 34px;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 48, ../../scss/modules/global.scss */
h2 {
  font-size: 22px;
  letter-spacing: 0.2em;
  font-family: "nobel-book",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

/* line 58, ../../scss/modules/global.scss */
h3 {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

/* line 64, ../../scss/modules/global.scss */
p {
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  margin: 1em 0;
}

/* line 72, ../../scss/modules/global.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 77, ../../scss/modules/global.scss */
.clearfix:after {
  clear: both;
}

/* line 82, ../../scss/modules/global.scss */
.btn {
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 25px 14px 25px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 17.5px;
  letter-spacing: 0.15em;
  text-align: center;
  text-decoration: none;
  display: block;
  max-width: 200px;
  border: 2px solid #000;
  cursor: pointer;
  display: inline-block;
}
/* line 104, ../../scss/modules/global.scss */
.btn:hover, .btn:focus {
  background: #fff;
  color: #000;
  border-color: #000;
  outline: none;
}

/* line 112, ../../scss/modules/global.scss */
.wrapper {
  overflow: hidden;
  margin: 50px auto 0 auto;
  max-width: 1354px;
  padding: 0 75px;
}
/* line 118, ../../scss/modules/global.scss */
.wrapper section {
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
/* line 124, ../../scss/modules/global.scss */
.wrapper section h1 {
  border-top: 2px solid black;
  padding-top: 30px;
}
/* line 129, ../../scss/modules/global.scss */
.wrapper section .content p {
  width: 70%;
}
