/* line 16, ../../scss/modules/grid.scss */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../../scss/modules/grid.scss */
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

/* line 28, ../../scss/modules/grid.scss */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 37, ../../scss/modules/grid.scss */
[class*='column-'] {
  float: left;
  padding: 0 23px;
  width: 100%;
  min-height: 1px;
}

@media only screen and (min-width: 30em) {
  /* line 46, ../../scss/modules/grid.scss */
  .container {
    width: 95%;
    max-width: 90em;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-1 {
    width: 8.33333%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-2 {
    width: 16.66667%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-3 {
    width: 25%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-4 {
    width: 33.33333%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-5 {
    width: 41.66667%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-6 {
    width: 50%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-7 {
    width: 58.33333%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-8 {
    width: 66.66667%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-9 {
    width: 75%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-10 {
    width: 83.33333%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-11 {
    width: 91.66667%;
  }

  /* line 51, ../../scss/modules/grid.scss */
  .column-12 {
    width: 100%;
  }
}
