/* main grid */
/* break points */
/* line 3, ../scss/modules/grid-base.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 8, ../scss/modules/grid-base.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

/* line 11, ../scss/modules/grid-base.scss */
.container-fluid:after {
  clear: both;
}

/* line 14, ../scss/modules/grid-base.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 17, ../scss/modules/grid-base.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}

/* line 20, ../scss/modules/grid-base.scss */
.row:after {
  clear: both;
}

/* line 23, ../scss/modules/grid-base.scss */
.col, .image-examples, .image-details, #color .palette-item, #typography ul li, #typography ol li, .font-example, .font-details, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

/* line 34, ../scss/modules/grid-base.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 38, ../scss/modules/grid-base.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 42, ../scss/modules/grid-base.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 46, ../scss/modules/grid-base.scss */
.col-xs-3 {
  width: 25%;
}

/* line 50, ../scss/modules/grid-base.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 54, ../scss/modules/grid-base.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 58, ../scss/modules/grid-base.scss */
.col-xs-6 {
  width: 50%;
}

/* line 62, ../scss/modules/grid-base.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 66, ../scss/modules/grid-base.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 70, ../scss/modules/grid-base.scss */
.col-xs-9 {
  width: 75%;
}

/* line 74, ../scss/modules/grid-base.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 78, ../scss/modules/grid-base.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 82, ../scss/modules/grid-base.scss */
.col-xs-12 {
  width: 100%;
}

/* line 86, ../scss/modules/grid-base.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 90, ../scss/modules/grid-base.scss */
.col-xs-pull-1 {
  right: 8.33333%;
  right: 8.33333%;
}

/* line 95, ../scss/modules/grid-base.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 99, ../scss/modules/grid-base.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 103, ../scss/modules/grid-base.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 107, ../scss/modules/grid-base.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 111, ../scss/modules/grid-base.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 115, ../scss/modules/grid-base.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 119, ../scss/modules/grid-base.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 123, ../scss/modules/grid-base.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 127, ../scss/modules/grid-base.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 131, ../scss/modules/grid-base.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 135, ../scss/modules/grid-base.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 139, ../scss/modules/grid-base.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 143, ../scss/modules/grid-base.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 147, ../scss/modules/grid-base.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 151, ../scss/modules/grid-base.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 155, ../scss/modules/grid-base.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 159, ../scss/modules/grid-base.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 163, ../scss/modules/grid-base.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 167, ../scss/modules/grid-base.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 171, ../scss/modules/grid-base.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 175, ../scss/modules/grid-base.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 179, ../scss/modules/grid-base.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 183, ../scss/modules/grid-base.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 187, ../scss/modules/grid-base.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 191, ../scss/modules/grid-base.scss */
.col-xs-offset-0 {
  left: 0%;
}

/* line 195, ../scss/modules/grid-base.scss */
.col-xs-offset-1 {
  left: 8.33333%;
}

/* line 199, ../scss/modules/grid-base.scss */
.col-xs-offset-2 {
  left: 16.66667%;
}

/* line 203, ../scss/modules/grid-base.scss */
.col-xs-offset-3 {
  left: 25%;
}

/* line 207, ../scss/modules/grid-base.scss */
.col-xs-offset-4 {
  left: 33.33333%;
}

/* line 211, ../scss/modules/grid-base.scss */
.col-xs-offset-5 {
  left: 41.66667%;
}

/* line 215, ../scss/modules/grid-base.scss */
.col-xs-offset-6 {
  left: 50%;
}

/* line 219, ../scss/modules/grid-base.scss */
.col-xs-offset-7 {
  left: 58.33333%;
}

/* line 223, ../scss/modules/grid-base.scss */
.col-xs-offset-8 {
  left: 66.66667%;
}

/* line 227, ../scss/modules/grid-base.scss */
.col-xs-offset-9 {
  left: 75%;
}

/* line 231, ../scss/modules/grid-base.scss */
.col-xs-offset-10 {
  left: 83.33333%;
}

/* line 235, ../scss/modules/grid-base.scss */
.col-xs-offset-11 {
  left: 91.66667%;
}

/* line 239, ../scss/modules/grid-base.scss */
.col-xs-offset-12 {
  left: 100%;
}

@media (min-width: 641px) {
  /* line 246, ../scss/modules/grid-base.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 250, ../scss/modules/grid-base.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 254, ../scss/modules/grid-base.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 258, ../scss/modules/grid-base.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 262, ../scss/modules/grid-base.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 266, ../scss/modules/grid-base.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 270, ../scss/modules/grid-base.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 274, ../scss/modules/grid-base.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 278, ../scss/modules/grid-base.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 282, ../scss/modules/grid-base.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 286, ../scss/modules/grid-base.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 290, ../scss/modules/grid-base.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 294, ../scss/modules/grid-base.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 298, ../scss/modules/grid-base.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 302, ../scss/modules/grid-base.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 306, ../scss/modules/grid-base.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 310, ../scss/modules/grid-base.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 314, ../scss/modules/grid-base.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 318, ../scss/modules/grid-base.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 322, ../scss/modules/grid-base.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 326, ../scss/modules/grid-base.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 330, ../scss/modules/grid-base.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 334, ../scss/modules/grid-base.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 338, ../scss/modules/grid-base.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 342, ../scss/modules/grid-base.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 346, ../scss/modules/grid-base.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 350, ../scss/modules/grid-base.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 354, ../scss/modules/grid-base.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 358, ../scss/modules/grid-base.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 362, ../scss/modules/grid-base.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 366, ../scss/modules/grid-base.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 370, ../scss/modules/grid-base.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 374, ../scss/modules/grid-base.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 378, ../scss/modules/grid-base.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 382, ../scss/modules/grid-base.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 386, ../scss/modules/grid-base.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 390, ../scss/modules/grid-base.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 394, ../scss/modules/grid-base.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 398, ../scss/modules/grid-base.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 402, ../scss/modules/grid-base.scss */
  .col-sm-offset-0 {
    left: 0%;
  }

  /* line 406, ../scss/modules/grid-base.scss */
  .col-sm-offset-1 {
    left: 8.33333%;
  }

  /* line 410, ../scss/modules/grid-base.scss */
  .col-sm-offset-2 {
    left: 16.66667%;
  }

  /* line 414, ../scss/modules/grid-base.scss */
  .col-sm-offset-3 {
    left: 25%;
  }

  /* line 418, ../scss/modules/grid-base.scss */
  .col-sm-offset-4 {
    left: 33.33333%;
  }

  /* line 422, ../scss/modules/grid-base.scss */
  .col-sm-offset-5 {
    left: 41.66667%;
  }

  /* line 426, ../scss/modules/grid-base.scss */
  .col-sm-offset-6 {
    left: 50%;
  }

  /* line 430, ../scss/modules/grid-base.scss */
  .col-sm-offset-7 {
    left: 58.33333%;
  }

  /* line 434, ../scss/modules/grid-base.scss */
  .col-sm-offset-8 {
    left: 66.66667%;
  }

  /* line 438, ../scss/modules/grid-base.scss */
  .col-sm-offset-9 {
    left: 75%;
  }

  /* line 442, ../scss/modules/grid-base.scss */
  .col-sm-offset-10 {
    left: 83.33333%;
  }

  /* line 446, ../scss/modules/grid-base.scss */
  .col-sm-offset-11 {
    left: 91.66667%;
  }

  /* line 450, ../scss/modules/grid-base.scss */
  .col-sm-offset-12 {
    left: 100%;
  }
}
@media (min-width: 961px) {
  /* line 457, ../scss/modules/grid-base.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 461, ../scss/modules/grid-base.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 465, ../scss/modules/grid-base.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 469, ../scss/modules/grid-base.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 473, ../scss/modules/grid-base.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 477, ../scss/modules/grid-base.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 481, ../scss/modules/grid-base.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 485, ../scss/modules/grid-base.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 489, ../scss/modules/grid-base.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 493, ../scss/modules/grid-base.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 497, ../scss/modules/grid-base.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 501, ../scss/modules/grid-base.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 505, ../scss/modules/grid-base.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 509, ../scss/modules/grid-base.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 513, ../scss/modules/grid-base.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 517, ../scss/modules/grid-base.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 521, ../scss/modules/grid-base.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 525, ../scss/modules/grid-base.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 529, ../scss/modules/grid-base.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 533, ../scss/modules/grid-base.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 537, ../scss/modules/grid-base.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 541, ../scss/modules/grid-base.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 545, ../scss/modules/grid-base.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 549, ../scss/modules/grid-base.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 553, ../scss/modules/grid-base.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 557, ../scss/modules/grid-base.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 561, ../scss/modules/grid-base.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 565, ../scss/modules/grid-base.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 569, ../scss/modules/grid-base.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 573, ../scss/modules/grid-base.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 577, ../scss/modules/grid-base.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 581, ../scss/modules/grid-base.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 585, ../scss/modules/grid-base.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 589, ../scss/modules/grid-base.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 593, ../scss/modules/grid-base.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 597, ../scss/modules/grid-base.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 601, ../scss/modules/grid-base.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 605, ../scss/modules/grid-base.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 609, ../scss/modules/grid-base.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 613, ../scss/modules/grid-base.scss */
  .col-md-offset-0 {
    left: 0%;
  }

  /* line 617, ../scss/modules/grid-base.scss */
  .col-md-offset-1 {
    left: 8.33333%;
  }

  /* line 621, ../scss/modules/grid-base.scss */
  .col-md-offset-2 {
    left: 16.66667%;
  }

  /* line 625, ../scss/modules/grid-base.scss */
  .col-md-offset-3 {
    left: 25%;
  }

  /* line 629, ../scss/modules/grid-base.scss */
  .col-md-offset-4 {
    left: 33.33333%;
  }

  /* line 633, ../scss/modules/grid-base.scss */
  .col-md-offset-5 {
    left: 41.66667%;
  }

  /* line 637, ../scss/modules/grid-base.scss */
  .col-md-offset-6 {
    left: 50%;
  }

  /* line 641, ../scss/modules/grid-base.scss */
  .col-md-offset-7 {
    left: 58.33333%;
  }

  /* line 645, ../scss/modules/grid-base.scss */
  .col-md-offset-8 {
    left: 66.66667%;
  }

  /* line 649, ../scss/modules/grid-base.scss */
  .col-md-offset-9 {
    left: 75%;
  }

  /* line 653, ../scss/modules/grid-base.scss */
  .col-md-offset-10 {
    left: 83.33333%;
  }

  /* line 657, ../scss/modules/grid-base.scss */
  .col-md-offset-11 {
    left: 91.66667%;
  }

  /* line 661, ../scss/modules/grid-base.scss */
  .col-md-offset-12 {
    left: 100%;
  }
}
@media (min-width: 1206px) {
  /* line 671, ../scss/modules/grid-base.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 675, ../scss/modules/grid-base.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 679, ../scss/modules/grid-base.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 683, ../scss/modules/grid-base.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 687, ../scss/modules/grid-base.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 691, ../scss/modules/grid-base.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 695, ../scss/modules/grid-base.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 699, ../scss/modules/grid-base.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 703, ../scss/modules/grid-base.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 707, ../scss/modules/grid-base.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 711, ../scss/modules/grid-base.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 715, ../scss/modules/grid-base.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 719, ../scss/modules/grid-base.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 723, ../scss/modules/grid-base.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 727, ../scss/modules/grid-base.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 731, ../scss/modules/grid-base.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 735, ../scss/modules/grid-base.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 739, ../scss/modules/grid-base.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 743, ../scss/modules/grid-base.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 747, ../scss/modules/grid-base.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 751, ../scss/modules/grid-base.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 755, ../scss/modules/grid-base.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 759, ../scss/modules/grid-base.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 763, ../scss/modules/grid-base.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 767, ../scss/modules/grid-base.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 771, ../scss/modules/grid-base.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 775, ../scss/modules/grid-base.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 779, ../scss/modules/grid-base.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 783, ../scss/modules/grid-base.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 787, ../scss/modules/grid-base.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 791, ../scss/modules/grid-base.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 795, ../scss/modules/grid-base.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 799, ../scss/modules/grid-base.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 803, ../scss/modules/grid-base.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 807, ../scss/modules/grid-base.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 811, ../scss/modules/grid-base.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 815, ../scss/modules/grid-base.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 819, ../scss/modules/grid-base.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 823, ../scss/modules/grid-base.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 827, ../scss/modules/grid-base.scss */
  .col-lg-offset-0 {
    left: 0%;
  }

  /* line 831, ../scss/modules/grid-base.scss */
  .col-lg-offset-1 {
    left: 8.33333%;
  }

  /* line 835, ../scss/modules/grid-base.scss */
  .col-lg-offset-2 {
    left: 16.66667%;
  }

  /* line 839, ../scss/modules/grid-base.scss */
  .col-lg-offset-3 {
    left: 25%;
  }

  /* line 843, ../scss/modules/grid-base.scss */
  .col-lg-offset-4 {
    left: 33.33333%;
  }

  /* line 847, ../scss/modules/grid-base.scss */
  .col-lg-offset-5 {
    left: 41.66667%;
  }

  /* line 851, ../scss/modules/grid-base.scss */
  .col-lg-offset-6 {
    left: 50%;
  }

  /* line 855, ../scss/modules/grid-base.scss */
  .col-lg-offset-7 {
    left: 58.33333%;
  }

  /* line 859, ../scss/modules/grid-base.scss */
  .col-lg-offset-8 {
    left: 66.66667%;
  }

  /* line 863, ../scss/modules/grid-base.scss */
  .col-lg-offset-9 {
    left: 75%;
  }

  /* line 867, ../scss/modules/grid-base.scss */
  .col-lg-offset-10 {
    left: 83.33333%;
  }

  /* line 871, ../scss/modules/grid-base.scss */
  .col-lg-offset-11 {
    left: 91.66667%;
  }

  /* line 875, ../scss/modules/grid-base.scss */
  .col-lg-offset-12 {
    left: 100%;
  }
}
/* line 881, ../scss/modules/grid-base.scss */
[class*="col-"] {
  box-sizing: border-box;
  margin-right: 0;
}

/* line 886, ../scss/modules/grid-base.scss */
.col, .image-examples, .image-details, #color .palette-item, #typography ul li, #typography ol li, .font-example, .font-details {
  width: 100%;
  box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Nobel Light */
@font-face {
  font-family: 'nobel-light';
  font-weight: 200;
  src: url("./../fonts/nobel-light.eot");
  src: url("./../fonts/nobel-light.eot") format("embedded-opentype"), url("./../fonts/nobel-light.woff") format("woff"), url("./../fonts/nobel-light.ttf") format("truetype"), url("./../fonts/nobel-light.svg#NobelLight") format("svg");
}

/* Nobel Book */
@font-face {
  font-family: 'nobel-book';
  font-weight: normal;
  src: url("./../fonts/nobel-book.eot");
  src: url("./../fonts/nobel-book.eot") format("embedded-opentype"), url("./../fonts/nobel-book.woff") format("woff"), url("./../fonts/nobel-book.ttf") format("truetype"), url("./../fonts/nobel-book.svg#NobelBook") format("svg");
}

/* Nobel Book Italic */
@font-face {
  font-family: 'nobel-book-italic';
  src: url("./../fonts/nobel-book-italic.eot");
  src: url("./../fonts/nobel-book-italic.eot") format("embedded-opentype"), url("./../fonts/nobel-book-italic.woff") format("woff"), url("./../fonts/nobel-book-italic.ttf") format("truetype"), url("./../fonts/nobel-book-italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* Nobel Regular */
@font-face {
  font-family: 'nobel-regular';
  src: url("./../fonts/nobelregular.eot");
  src: url("./../fonts/nobel-regular.ttf") format("truetype"), url("./../fonts/nobelregular.eot") format("embedded-opentype"), url("./../fonts/nobel-regular.woff") format("woff"), url("./../fonts/nobel-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Nobel Regular Italic */
@font-face {
  font-family: 'nobel-regular-italic';
  src: url("./../fonts/nobelregularitalic.eot");
  src: url("./../fonts/nobelregularitalic.eot") format("embedded-opentype"), url("./../fonts/nobel-regular-italic.woff") format("woff"), url("./../fonts/nobel-regular-italic.ttf") format("truetype"), url("./../fonts/nobel-regular-italic.svg") format("svg");
  font-style: italic;
}

/* Nobel Bold */
@font-face {
  font-family: 'nobel-bold';
  src: url("./../fonts/nobelbold.eot");
  src: url("./../fonts/nobelbold.eot") format("embedded-opentype"), url("./../fonts/nobel-bold.woff") format("woff"), url("./../fonts/nobel-bold.ttf") format("truetype"), url("./../fonts/nobel-bold.svg") format("svg");
  font-weight: bold;
}

/* Pakt */
@font-face {
  font-family: 'pakt';
  src: url("./../fonts/pakt.eot");
  src: url("./../fonts/pakt.eot") format("embedded-opentype"), url("./../fonts/pakt.woff") format("woff"), url("./../fonts/pakt.ttf") format("truetype"), url("./../fonts/pakt.svg#PaktRegular") format("svg");
}

/*/move this once VR becomes more prominent. then add a new sass file for it/*/ 
.vr {
    padding: 0 !important;
}

/* line 22, ../scss/modules/global.scss */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../scss/modules/global.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* line 34, ../scss/modules/global.scss */
.overflows {
  overflow: hidden;
}

/* line 39, ../scss/modules/global.scss */
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: white;
}

/* line 46, ../scss/modules/global.scss */
a {
  text-decoration: none;
}

/* line 51, ../scss/modules/global.scss */
h1, h2, h3, h4, h5, h6 {
  text-align: left;
  text-transform: uppercase;
}

/* line 56, ../scss/modules/global.scss */
h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "nobel-bold",Helvetica,Arial,sans-serif;
}

/* line 61, ../scss/modules/global.scss */
h1 {
  font-size: 22px;
  letter-spacing: 0.2em;
  font-family: "nobel-book",Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 0.67em 0;
}

/* line 69, ../scss/modules/global.scss */
h2 {
  font-family: 'nobel-regular', sans-serif;
  font-size: 3.5em;
  font-weight: normal;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  padding: 30px 0;
  word-spacing: .2em;
}
@media (min-width: 961px) {
  /* line 69, ../scss/modules/global.scss */
  h2 {
    font-size: 5em;
  }
}

/* line 82, ../scss/modules/global.scss */
h3 {
  font-size: 2em;
}

/* line 86, ../scss/modules/global.scss */
h4 {
  font-size: 1.5em;
}

/* line 90, ../scss/modules/global.scss */
h5 {
  font-size: 1.3em;
}

/* line 94, ../scss/modules/global.scss */
h6 {
  font-size: 0.6em;
}

/* line 98, ../scss/modules/global.scss */
p {
  width: 100%;
  padding: 25px 0 50px 0;
}

/* line 103, ../scss/modules/global.scss */
img {
  width: 100%;
  height: auto;
}

/* line 107, ../scss/modules/global.scss */
.unclickable {
  pointer-events: none;
}

/* line 112, ../scss/modules/global.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 117, ../scss/modules/global.scss */
.clearfix:after {
  clear: both;
}

/* line 121, ../scss/modules/global.scss */
.clearfix {
  padding-bottom: 30px;
}

/* line 127, ../scss/modules/global.scss */
.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 10%;
}

/* line 139, ../scss/modules/global.scss */
#elwrapper {
  padding-top: 50px;
  width: 100%;
}

/* line 144, ../scss/modules/global.scss */
section {
  padding: 25px 0 100px 0;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  border-top: 10px solid black;
}
/* line 152, ../scss/modules/global.scss */
section:first-of-type {
  border-top: 0;
}
/* line 155, ../scss/modules/global.scss */
section#color {
  border-top: 0;
}
/* line 159, ../scss/modules/global.scss */
section#header h2 {
  text-align: left;
  padding: 40px 0;
}
/* line 166, ../scss/modules/global.scss */
section .content > p {
  width: 100%;
  padding: 0;
  padding-bottom: 50px;
}
/* line 172, ../scss/modules/global.scss */
section .content > h4 {
  border-top: 5px solid black;
  padding: 25px 0;
}
/* line 178, ../scss/modules/global.scss */
section .content > h3 {
  padding: 10px 0;
}
/* line 181, ../scss/modules/global.scss */
section .content > h5 {
  padding: 50px 0 25px 0;
}
/* line 184, ../scss/modules/global.scss */
section h1 {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  padding: 30px 0;
  font-size: 3.5em;
}
@media (min-width: 961px) {
  /* line 184, ../scss/modules/global.scss */
  section h1 {
    font-size: 5em;
  }
}

/* line 195, ../scss/modules/global.scss */
.btn {
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 25px 14px 25px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 17.5px;
  letter-spacing: 0.15em;
  text-align: center;
  text-decoration: none;
  display: block;
  max-width: 200px;
  border: 2px solid #000;
  cursor: pointer;
  display: inline-block;
}
/* line 217, ../scss/modules/global.scss */
.btn:hover, .btn:focus {
  background: #fff;
  color: #000;
  border-color: #000;
  outline: none;
}

/* line 240, ../scss/modules/global.scss */
.image-examples {
  width: 100%;
}
@media (min-width: 1206px) {
  /* line 240, ../scss/modules/global.scss */
  .image-examples {
    width: 66.66667%;
  }
  /* line 244, ../scss/modules/global.scss */
  .image-examples img {
    padding-top: 10px;
  }
}

@media (min-width: 641px) {
  /* line 250, ../scss/modules/global.scss */
  .image-details {
    width: 100%;
  }
}
@media (min-width: 1206px) {
  /* line 250, ../scss/modules/global.scss */
  .image-details {
    width: 33.33333%;
  }
}

/* line 260, ../scss/modules/global.scss */
.image-examples, .image-details {
  padding: 0 0 25px 0;
}
/* line 263, ../scss/modules/global.scss */
.image-examples p, .image-details p {
  width: 100% !important;
  padding: 25px 0 0 !important;
}
/* line 266, ../scss/modules/global.scss */
.image-examples p:first-of-type, .image-details p:first-of-type {
  padding-top: 10px !important;
}

/* line 274, ../scss/modules/global.scss */
.responsive-design img.desktop-image {
  width: 44%;
}
/* line 277, ../scss/modules/global.scss */
.responsive-design img.tablet-image {
  width: 32%;
}
/* line 280, ../scss/modules/global.scss */
.responsive-design img.mobile-image {
  width: 9%;
}

/* line 286, ../scss/modules/global.scss */
#imagery-backgrounds img {
  width: 100%;
  padding: 50px 0;
}
@media (min-width: 961px) {
  /* line 286, ../scss/modules/global.scss */
  #imagery-backgrounds img {
    width: 60%;
    margin: 0 auto;
    display: block;
    padding: 25px 0 50px;
  }
}

/* line 298, ../scss/modules/global.scss */
.imagery-stuff img {
  width: 100%;
}
@media (min-width: 961px) {
  /* line 298, ../scss/modules/global.scss */
  .imagery-stuff img {
    width: 75%;
    margin: 0 auto;
    display: block;
  }
}

/* line 307, ../scss/modules/global.scss */
#imagery img {
  padding-bottom: 50px;
}

/* line 311, ../scss/modules/global.scss */
#overlays img {
  width: 100%;
}
@media (min-width: 961px) {
  /* line 311, ../scss/modules/global.scss */
  #overlays img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}

/* line 321, ../scss/modules/global.scss */
#imagery ul {
  margin-left: 18px;
  padding-top: 25px;
}
@media (min-width: 1206px) {
  /* line 321, ../scss/modules/global.scss */
  #imagery ul {
    padding-right: 30px;
  }
  /* line 328, ../scss/modules/global.scss */
  #imagery ul li {
    font-family: 'nobel-book';
    margin-top: 12px;
  }
  /* line 331, ../scss/modules/global.scss */
  #imagery ul li:first-of-type {
    margin-top: 12px;
  }
}

/* line 1, ../scss/modules/nav.scss */
nav.primary {
  background-color: black;
  line-height: 1em;
  margin: 0 auto;
  padding: 0px 0;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 61px;
  z-index: 2;
}
/* line 12, ../scss/modules/nav.scss */
nav.primary .header {
  width: 96%;
  max-width: 1200px;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  position: relative;
  z-index: 300;
}
/* line 20, ../scss/modules/nav.scss */
nav.primary .header .logo {
  float: left;
  width: 100%;
  display: inline-block;
}
@media (min-width: 961px) {
  /* line 20, ../scss/modules/nav.scss */
  nav.primary .header .logo {
    width: auto;
  }
}
/* line 27, ../scss/modules/nav.scss */
nav.primary .header .logo a {
  top: 14px;
  width: 162px;
  display: block;
  margin: 0 auto;
  height: 30px;
  position: relative;
  background: url("http://lexus.com/assets/sprite/sprites/global-sf24df3adbc.png") 0 0 no-repeat;
}
@media (min-width: 961px) {
  /* line 27, ../scss/modules/nav.scss */
  nav.primary .header .logo a {
    margin-top: 14px;
    width: 162px;
    display: block;
    position: inherit;
  }
}
/* line 45, ../scss/modules/nav.scss */
nav.primary .header #categoryNav {
  display: none;
  background: black;
  float: left;
  /* height: 61px; */
  /* padding-bottom: 0px; */
  position: relative;
  /* margin-top: 4px; */
  text-align: right;
  width: 51%;
}
@media (min-width: 961px) {
  /* line 45, ../scss/modules/nav.scss */
  nav.primary .header #categoryNav {
    display: inline-block;
  }
}
/* line 59, ../scss/modules/nav.scss */
nav.primary .header #categoryNav #categoryBorderWrap {
  display: block;
  max-width: 1200px;
  padding: 0px 35px 0 0;
  position: relative;
  z-index: 16;
}
/* line 71, ../scss/modules/nav.scss */
nav.primary .header #categoryNav #categories {
  text-align: left;
}
/* line 81, ../scss/modules/nav.scss */
nav.primary .header #categoryNav #categories .vehicleLink {
  font-family: "nobel-bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  background: black;
  color: white;
  letter-spacing: 0.09em;
  /* color: white; */
  /* text-decoration: none; */
  /* outline: none; */
  display: inline-block;
  /* margin-right: 0%; */
  margin-left: 17px;
  padding: 0px 1.5%;
  /* position: relative; */
  /* height: 0; */
  /* line-height: 0; */
  padding: 22px 15px 23px;
  /* top: 10px; */
  /* vertical-align: top; */
}
/* line 102, ../scss/modules/nav.scss */
nav.primary .header #categoryNav #categories .vehicleLink.active {
  background: white;
  color: black;
}

/* line 164, ../scss/modules/nav.scss */
#primary-nav ul li {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-family: "nobel-bold",Helvetica,Arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 17.5px;
  letter-spacing: 0.1em;
  text-decoration: none;
  display: block;
}

/* line 177, ../scss/modules/nav.scss */
.mobile-nav {
  z-index: 2;
  width: 100%;
  height: 44px;
  background: black;
  top: -1px;
  position: fixed;
}
@media (min-width: 641px) {
  /* line 177, ../scss/modules/nav.scss */
  .mobile-nav {
    display: none;
  }
}

/* line 1, ../scss/modules/aside.scss */
input[type="checkbox"] {
  display: none;
}

/* line 21, ../scss/modules/aside.scss */
input[type="checkbox"]:checked ~ nav {
  margin: 0;
}

@media (min-width: 641px) {
  /* line 25, ../scss/modules/aside.scss */
  input[type="checkbox"]:checked ~ .cover {
    display: block;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .7;
    position: fixed;
  }
}
@media (min-width: 961px) {
  /* line 25, ../scss/modules/aside.scss */
  input[type="checkbox"]:checked ~ .cover {
    display: none;
  }
}

/* line 41, ../scss/modules/aside.scss */
input[type="checkbox"]:checked ~ #elwrapper {
  width: 100%;
  max-width: 1204px;
}
@media (min-width: 641px) {
  /* line 41, ../scss/modules/aside.scss */
  input[type="checkbox"]:checked ~ #elwrapper {
    width: 100%;
  }
}
@media (min-width: 961px) {
  /* line 41, ../scss/modules/aside.scss */
  input[type="checkbox"]:checked ~ #elwrapper {
    width: 80%;
    -webkit-transform: translate3d(260px, 0, 0);
    -moz-transform: translate3d(260px, 0, 0);
    -o-transform: translate3d(260px, 0, 0);
    transform: translate3d(260px, 0, 0);
  }
}
@media (min-width: 1601px) {
  /* line 41, ../scss/modules/aside.scss */
  input[type="checkbox"]:checked ~ #elwrapper {
    width: 100%;
    left: -7%;
    max-width: 1204px;
    margin: 0 auto;
    position: relative;
  }
}

/* line 64, ../scss/modules/aside.scss */
input[type="checkbox"]:checked ~ label {
  left: 90%;
}
@media (min-width: 641px) {
  /* line 64, ../scss/modules/aside.scss */
  input[type="checkbox"]:checked ~ label {
    left: 300px;
  }
}

/* line 72, ../scss/modules/aside.scss */
label.hamburger-slim {
  left: 10px;
  background: transparent;
  height: 30px;
  width: 50px;
  display: block;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 2em;
  line-height: 1.1em;
  position: fixed;
  top: 10px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  z-index: 500;
}
@media (min-width: 641px) {
  /* line 72, ../scss/modules/aside.scss */
  label.hamburger-slim {
    left: 10px;
  }
}
/* line 95, ../scss/modules/aside.scss */
label.hamburger-slim:before, label.hamburger-slim:after {
  background: white;
  backface-visibility: hidden;
  content: "";
  height: 3px;
  left: 0;
  transition: 0.75s;
  width: 26px;
}
/* line 105, ../scss/modules/aside.scss */
label.hamburger-slim:before {
  box-shadow: white 0 14px 0 0;
  position: absolute;
  top: 3px;
}
/* line 111, ../scss/modules/aside.scss */
label.hamburger-slim:after {
  position: absolute;
  top: calc(100% - 20px);
}
/* line 118, ../scss/modules/aside.scss */
label.hamburger-slim.active:before {
  box-shadow: transparent 0 0 0 0;
  top: 50%;
  transform: rotate(225deg);
}
/* line 124, ../scss/modules/aside.scss */
label.hamburger-slim.active:after {
  top: 50%;
  transform: rotate(315deg);
}

/* line 131, ../scss/modules/aside.scss */
.header {
  padding: 60px;
}
/* line 133, ../scss/modules/aside.scss */
.header .logo {
  background: url("./../images/global-sf24df3adbc.png") 0 0 no-repeat;
  height: 30px;
  width: 162px;
  display: block;
  margin: 0 auto;
}
/* line 140, ../scss/modules/aside.scss */
.header h2 {
  color: white;
  text-align: center;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-top: 1px solid #939393;
  font-family: 'nobel-bold';
  margin-top: 10px;
}

/* line 152, ../scss/modules/aside.scss */
ul.accordion {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  padding: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
}
/* line 161, ../scss/modules/aside.scss */
ul.accordion li {
  margin: 0;
  font-size: 12px;
  font-family: "nobel-bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid #3f3f3f;
  margin: 0 auto 20px auto;
  padding-bottom: 15px;
  position: relative;
  list-style: none;
  font-weight: normal;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}
/* line 182, ../scss/modules/aside.scss */
ul.accordion li.active a {
  color: white;
}
/* line 187, ../scss/modules/aside.scss */
ul.accordion .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
/* line 192, ../scss/modules/aside.scss */
ul.accordion .inner.show {
  display: block;
}
/* line 196, ../scss/modules/aside.scss */
ul.accordion li ul li {
  border: none;
  margin-top: -2px;
}
/* line 200, ../scss/modules/aside.scss */
ul.accordion li ul li a {
  color: #939393;
  font-family: "nobel-regular", Helvetica, Arial, sans-serif;
}
/* line 203, ../scss/modules/aside.scss */
ul.accordion li ul li a:hover, ul.accordion li ul li a.active {
  color: white;
}

/* line 211, ../scss/modules/aside.scss */
nav.secondary {
  z-index: 2;
  background: black;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 0 0 -100%;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media (min-width: 641px) {
  /* line 211, ../scss/modules/aside.scss */
  nav.secondary {
    width: 340px;
    margin: 0 0 0 -292px;
  }
}
/* line 229, ../scss/modules/aside.scss */
nav.secondary a.toggle {
  margin: 5px auto;
  font-size: 12px;
  color: white;
  font-family: "nobel-bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  display: block;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
  position: relative;
}
/* line 243, ../scss/modules/aside.scss */
nav.secondary a.toggle span {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: -10px;
  top: 10px;
  font-size: 32px;
  -ms-transform: scale(0.9, 1) translateY(-15%);
  -webkit-transform: scale(0.9, 1) translateY(-15%);
  -moz-transform: scale(0.9, 1) translateY(-15%);
  transform: scale(0.9, 1) translateY(-15%);
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
/* line 262, ../scss/modules/aside.scss */
nav.secondary a.toggle span.expanded {
  -ms-transform: scale(0.9, -1) translateY(-15%);
  -webkit-transform: scale(0.9, -1) translateY(-15%);
  -moz-transform: scale(0.9, -1) translateY(-15%);
  transform: scale(0.9, -1) translateY(-15%);
  top: 20px;
}
/* line 270, ../scss/modules/aside.scss */
nav.secondary a.toggle:hover, nav.secondary a.toggle:active {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

/* line 277, ../scss/modules/aside.scss */
p > span {
  font-weight: bold;
}

/* line 281, ../scss/modules/aside.scss */
section li {
  margin: 0 0 10px;
}

/* line 2, ../scss/modules/colors.scss */
#color .palette-item {
  padding: 10px 0;
}
@media (min-width: 641px) {
  /* line 2, ../scss/modules/colors.scss */
  #color .palette-item {
    width: 100%;
    padding: 20px 0;
  }
}
@media (min-width: 961px) {
  /* line 2, ../scss/modules/colors.scss */
  #color .palette-item {
    width: 33.33333%;
  }
}
@media (min-width: 1206px) {
  /* line 2, ../scss/modules/colors.scss */
  #color .palette-item {
    width: 33.33333%;
  }
}
/* line 18, ../scss/modules/colors.scss */
#color .box {
  width: 50%;
  width: 90px;
  height: 90px;
  float: left;
  border-radius: 50%;
}
/* line 26, ../scss/modules/colors.scss */
#color .info {
  width: 50%;
  float: left;
  margin-left: 5%;
}
/* line 32, ../scss/modules/colors.scss */
#color h6 {
  font-size: 1em;
}
/* line 35, ../scss/modules/colors.scss */
#color .hex, #color .rgb {
  font-size: 0.9em;
  margin-top: 3px;
  text-align: left;
}
/* line 40, ../scss/modules/colors.scss */
#color .hex, #color .rgb {
  font-family: 'nobel-regular';
}
/* line 44, ../scss/modules/colors.scss */
#color .box.black {
  background: black;
}
/* line 47, ../scss/modules/colors.scss */
#color .box.white {
  background: white;
  border: 1px solid black;
}
/* line 51, ../scss/modules/colors.scss */
#color .box.bg-grey {
  background: #939393;
}
/* line 54, ../scss/modules/colors.scss */
#color .box.red {
  background: red;
}
/* line 57, ../scss/modules/colors.scss */
#color .box.gold {
  background: #c19237;
}
/* line 60, ../scss/modules/colors.scss */
#color .box.grey {
  background: dimgrey;
}
/* line 64, ../scss/modules/colors.scss */
#color .box.light-grey {
  background: #939393;
}
/* line 68, ../scss/modules/colors.scss */
#color .box.pink {
  background: #ffe8e8;
  border: 1px solid black;
}

/* line 3, ../scss/modules/typography.scss */
#typography .content > h5 {
  padding: 30px 0;
}
/* line 6, ../scss/modules/typography.scss */
#typography .content .fonts {
  margin: 25px 0 50px 0;
}
/* line 9, ../scss/modules/typography.scss */
#typography .content .fonts h5:nth-child(even) {
  margin-top: 10px;
  text-transform: inherit;
}
/* line 13, ../scss/modules/typography.scss */
#typography .content .nobel-light h5 {
  font-family: 'nobel-light', Helvetica,Arial,sans-serif;
  font-weight: lighter;
}
/* line 17, ../scss/modules/typography.scss */
#typography .content .nobel-book h5 {
  font-family: 'nobel-book', Helvetica,Arial,sans-serif;
  font-weight: lighter;
}
/* line 21, ../scss/modules/typography.scss */
#typography .content .nobel-regular h5 {
  font-family: 'nobel-regular', Helvetica,Arial,sans-serif;
  font-weight: lighter;
}
/* line 25, ../scss/modules/typography.scss */
#typography .content .nobel-bold h5 {
  font-family: 'nobel-bold', Helvetica,Arial,sans-serif;
  font-weight: lighter;
}
/* line 29, ../scss/modules/typography.scss */
#typography .content .nobel-book-italic h5 {
  font-family: 'nobel-book-italic', Helvetica,Arial,sans-serif;
  font-weight: lighter;
}
/* line 33, ../scss/modules/typography.scss */
#typography .content .palentino h5 {
  font-family: 'palentino';
  font-weight: lighter;
}
/* line 37, ../scss/modules/typography.scss */
#typography .content .pakt h5 {
  font-family: 'pakt';
  font-weight: lighter;
}
/* line 43, ../scss/modules/typography.scss */
#typography ul li, #typography ol li {
  width: 33.33333%;
  position: relative;
  left: 18px;
}

/* line 57, ../scss/modules/typography.scss */
.font-example, .font-details {
  width: 100%;
  padding: 0 0 25px 0;
}
/* line 61, ../scss/modules/typography.scss */
.font-example p, .font-details p {
  width: 100% !important;
  padding-top: 25px;
}

/* line 68, ../scss/modules/typography.scss */
.the-font h5 {
  border-top: 1px dotted #939393;
  padding-top: 20px;
}
/* line 72, ../scss/modules/typography.scss */
.the-font p {
  padding-bottom: 100px;
}

/* line 77, ../scss/modules/typography.scss */
.font-example {
  padding-left: 50px;
}
/* line 79, ../scss/modules/typography.scss */
.font-example img {
  width: 12%;
  padding-top: 10px;
}
