/* main grid */
/* break points */
/* line 3, ../sass/grid-base.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 8, ../sass/grid-base.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/grid-base.scss */
.container-fluid:after {
  clear: both;
}

/* line 14, ../sass/grid-base.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 17, ../sass/grid-base.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}

/* line 20, ../sass/grid-base.scss */
.row:after {
  clear: both;
}

/* line 23, ../sass/grid-base.scss */
.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

/* line 34, ../sass/grid-base.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 38, ../sass/grid-base.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 42, ../sass/grid-base.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 46, ../sass/grid-base.scss */
.col-xs-3 {
  width: 25%;
}

/* line 50, ../sass/grid-base.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 54, ../sass/grid-base.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 58, ../sass/grid-base.scss */
.col-xs-6 {
  width: 50%;
}

/* line 62, ../sass/grid-base.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 66, ../sass/grid-base.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 70, ../sass/grid-base.scss */
.col-xs-9 {
  width: 75%;
}

/* line 74, ../sass/grid-base.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 78, ../sass/grid-base.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 82, ../sass/grid-base.scss */
.col-xs-12 {
  width: 100%;
}

/* line 86, ../sass/grid-base.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 90, ../sass/grid-base.scss */
.col-xs-pull-1 {
  right: 8.33333%;
  right: 8.33333%;
}

/* line 95, ../sass/grid-base.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 99, ../sass/grid-base.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 103, ../sass/grid-base.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 107, ../sass/grid-base.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 111, ../sass/grid-base.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 115, ../sass/grid-base.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 119, ../sass/grid-base.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 123, ../sass/grid-base.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 127, ../sass/grid-base.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 131, ../sass/grid-base.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 135, ../sass/grid-base.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 139, ../sass/grid-base.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 143, ../sass/grid-base.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 147, ../sass/grid-base.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 151, ../sass/grid-base.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 155, ../sass/grid-base.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 159, ../sass/grid-base.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 163, ../sass/grid-base.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 167, ../sass/grid-base.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 171, ../sass/grid-base.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 175, ../sass/grid-base.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 179, ../sass/grid-base.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 183, ../sass/grid-base.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 187, ../sass/grid-base.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 191, ../sass/grid-base.scss */
.col-xs-offset-0 {
  left: 0%;
}

/* line 195, ../sass/grid-base.scss */
.col-xs-offset-1 {
  left: 8.33333%;
}

/* line 199, ../sass/grid-base.scss */
.col-xs-offset-2 {
  left: 16.66667%;
}

/* line 203, ../sass/grid-base.scss */
.col-xs-offset-3 {
  left: 25%;
}

/* line 207, ../sass/grid-base.scss */
.col-xs-offset-4 {
  left: 33.33333%;
}

/* line 211, ../sass/grid-base.scss */
.col-xs-offset-5 {
  left: 41.66667%;
}

/* line 215, ../sass/grid-base.scss */
.col-xs-offset-6 {
  left: 50%;
}

/* line 219, ../sass/grid-base.scss */
.col-xs-offset-7 {
  left: 58.33333%;
}

/* line 223, ../sass/grid-base.scss */
.col-xs-offset-8 {
  left: 66.66667%;
}

/* line 227, ../sass/grid-base.scss */
.col-xs-offset-9 {
  left: 75%;
}

/* line 231, ../sass/grid-base.scss */
.col-xs-offset-10 {
  left: 83.33333%;
}

/* line 235, ../sass/grid-base.scss */
.col-xs-offset-11 {
  left: 91.66667%;
}

/* line 239, ../sass/grid-base.scss */
.col-xs-offset-12 {
  left: 100%;
}

@media (min-width: 641px) {
  /* line 246, ../sass/grid-base.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 250, ../sass/grid-base.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 254, ../sass/grid-base.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 258, ../sass/grid-base.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 262, ../sass/grid-base.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 266, ../sass/grid-base.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 270, ../sass/grid-base.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 274, ../sass/grid-base.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 278, ../sass/grid-base.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 282, ../sass/grid-base.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 286, ../sass/grid-base.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 290, ../sass/grid-base.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 294, ../sass/grid-base.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 298, ../sass/grid-base.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 302, ../sass/grid-base.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 306, ../sass/grid-base.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 310, ../sass/grid-base.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 314, ../sass/grid-base.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 318, ../sass/grid-base.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 322, ../sass/grid-base.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 326, ../sass/grid-base.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 330, ../sass/grid-base.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 334, ../sass/grid-base.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 338, ../sass/grid-base.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 342, ../sass/grid-base.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 346, ../sass/grid-base.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 350, ../sass/grid-base.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 354, ../sass/grid-base.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 358, ../sass/grid-base.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 362, ../sass/grid-base.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 366, ../sass/grid-base.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 370, ../sass/grid-base.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 374, ../sass/grid-base.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 378, ../sass/grid-base.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 382, ../sass/grid-base.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 386, ../sass/grid-base.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 390, ../sass/grid-base.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 394, ../sass/grid-base.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 398, ../sass/grid-base.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 402, ../sass/grid-base.scss */
  .col-sm-offset-0 {
    left: 0%;
  }

  /* line 406, ../sass/grid-base.scss */
  .col-sm-offset-1 {
    left: 8.33333%;
  }

  /* line 410, ../sass/grid-base.scss */
  .col-sm-offset-2 {
    left: 16.66667%;
  }

  /* line 414, ../sass/grid-base.scss */
  .col-sm-offset-3 {
    left: 25%;
  }

  /* line 418, ../sass/grid-base.scss */
  .col-sm-offset-4 {
    left: 33.33333%;
  }

  /* line 422, ../sass/grid-base.scss */
  .col-sm-offset-5 {
    left: 41.66667%;
  }

  /* line 426, ../sass/grid-base.scss */
  .col-sm-offset-6 {
    left: 50%;
  }

  /* line 430, ../sass/grid-base.scss */
  .col-sm-offset-7 {
    left: 58.33333%;
  }

  /* line 434, ../sass/grid-base.scss */
  .col-sm-offset-8 {
    left: 66.66667%;
  }

  /* line 438, ../sass/grid-base.scss */
  .col-sm-offset-9 {
    left: 75%;
  }

  /* line 442, ../sass/grid-base.scss */
  .col-sm-offset-10 {
    left: 83.33333%;
  }

  /* line 446, ../sass/grid-base.scss */
  .col-sm-offset-11 {
    left: 91.66667%;
  }

  /* line 450, ../sass/grid-base.scss */
  .col-sm-offset-12 {
    left: 100%;
  }
}
@media (min-width: 961px) {
  /* line 457, ../sass/grid-base.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 461, ../sass/grid-base.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 465, ../sass/grid-base.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 469, ../sass/grid-base.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 473, ../sass/grid-base.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 477, ../sass/grid-base.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 481, ../sass/grid-base.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 485, ../sass/grid-base.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 489, ../sass/grid-base.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 493, ../sass/grid-base.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 497, ../sass/grid-base.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 501, ../sass/grid-base.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 505, ../sass/grid-base.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 509, ../sass/grid-base.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 513, ../sass/grid-base.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 517, ../sass/grid-base.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 521, ../sass/grid-base.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 525, ../sass/grid-base.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 529, ../sass/grid-base.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 533, ../sass/grid-base.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 537, ../sass/grid-base.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 541, ../sass/grid-base.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 545, ../sass/grid-base.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 549, ../sass/grid-base.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 553, ../sass/grid-base.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 557, ../sass/grid-base.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 561, ../sass/grid-base.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 565, ../sass/grid-base.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 569, ../sass/grid-base.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 573, ../sass/grid-base.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 577, ../sass/grid-base.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 581, ../sass/grid-base.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 585, ../sass/grid-base.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 589, ../sass/grid-base.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 593, ../sass/grid-base.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 597, ../sass/grid-base.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 601, ../sass/grid-base.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 605, ../sass/grid-base.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 609, ../sass/grid-base.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 613, ../sass/grid-base.scss */
  .col-md-offset-0 {
    left: 0%;
  }

  /* line 617, ../sass/grid-base.scss */
  .col-md-offset-1 {
    left: 8.33333%;
  }

  /* line 621, ../sass/grid-base.scss */
  .col-md-offset-2 {
    left: 16.66667%;
  }

  /* line 625, ../sass/grid-base.scss */
  .col-md-offset-3 {
    left: 25%;
  }

  /* line 629, ../sass/grid-base.scss */
  .col-md-offset-4 {
    left: 33.33333%;
  }

  /* line 633, ../sass/grid-base.scss */
  .col-md-offset-5 {
    left: 41.66667%;
  }

  /* line 637, ../sass/grid-base.scss */
  .col-md-offset-6 {
    left: 50%;
  }

  /* line 641, ../sass/grid-base.scss */
  .col-md-offset-7 {
    left: 58.33333%;
  }

  /* line 645, ../sass/grid-base.scss */
  .col-md-offset-8 {
    left: 66.66667%;
  }

  /* line 649, ../sass/grid-base.scss */
  .col-md-offset-9 {
    left: 75%;
  }

  /* line 653, ../sass/grid-base.scss */
  .col-md-offset-10 {
    left: 83.33333%;
  }

  /* line 657, ../sass/grid-base.scss */
  .col-md-offset-11 {
    left: 91.66667%;
  }

  /* line 661, ../sass/grid-base.scss */
  .col-md-offset-12 {
    left: 100%;
  }
}
@media (min-width: 1206px) {
  /* line 671, ../sass/grid-base.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 675, ../sass/grid-base.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 679, ../sass/grid-base.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 683, ../sass/grid-base.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 687, ../sass/grid-base.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 691, ../sass/grid-base.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 695, ../sass/grid-base.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 699, ../sass/grid-base.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 703, ../sass/grid-base.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 707, ../sass/grid-base.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 711, ../sass/grid-base.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 715, ../sass/grid-base.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 719, ../sass/grid-base.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 723, ../sass/grid-base.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 727, ../sass/grid-base.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 731, ../sass/grid-base.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 735, ../sass/grid-base.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 739, ../sass/grid-base.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 743, ../sass/grid-base.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 747, ../sass/grid-base.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 751, ../sass/grid-base.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 755, ../sass/grid-base.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 759, ../sass/grid-base.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 763, ../sass/grid-base.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 767, ../sass/grid-base.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 771, ../sass/grid-base.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 775, ../sass/grid-base.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 779, ../sass/grid-base.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 783, ../sass/grid-base.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 787, ../sass/grid-base.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 791, ../sass/grid-base.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 795, ../sass/grid-base.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 799, ../sass/grid-base.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 803, ../sass/grid-base.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 807, ../sass/grid-base.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 811, ../sass/grid-base.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 815, ../sass/grid-base.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 819, ../sass/grid-base.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 823, ../sass/grid-base.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 827, ../sass/grid-base.scss */
  .col-lg-offset-0 {
    left: 0%;
  }

  /* line 831, ../sass/grid-base.scss */
  .col-lg-offset-1 {
    left: 8.33333%;
  }

  /* line 835, ../sass/grid-base.scss */
  .col-lg-offset-2 {
    left: 16.66667%;
  }

  /* line 839, ../sass/grid-base.scss */
  .col-lg-offset-3 {
    left: 25%;
  }

  /* line 843, ../sass/grid-base.scss */
  .col-lg-offset-4 {
    left: 33.33333%;
  }

  /* line 847, ../sass/grid-base.scss */
  .col-lg-offset-5 {
    left: 41.66667%;
  }

  /* line 851, ../sass/grid-base.scss */
  .col-lg-offset-6 {
    left: 50%;
  }

  /* line 855, ../sass/grid-base.scss */
  .col-lg-offset-7 {
    left: 58.33333%;
  }

  /* line 859, ../sass/grid-base.scss */
  .col-lg-offset-8 {
    left: 66.66667%;
  }

  /* line 863, ../sass/grid-base.scss */
  .col-lg-offset-9 {
    left: 75%;
  }

  /* line 867, ../sass/grid-base.scss */
  .col-lg-offset-10 {
    left: 83.33333%;
  }

  /* line 871, ../sass/grid-base.scss */
  .col-lg-offset-11 {
    left: 91.66667%;
  }

  /* line 875, ../sass/grid-base.scss */
  .col-lg-offset-12 {
    left: 100%;
  }
}
/* line 881, ../sass/grid-base.scss */
[class*="col-"] {
  box-sizing: border-box;
  margin-right: 0;
}

/* line 886, ../sass/grid-base.scss */
.col {
  width: 100%;
  box-sizing: border-box;
}
