/* ///////////////////////// NUMBER OneC /////////////////////////*/
#sr2_300x600_03{
position: relative;
display: inline-block;
margin: 40px;
background-color: #FFF;
width: 300px;
height: 600px;
cursor: pointer;
border:1px solid #000;
}
#sr2_300x600_03 .label{
	width: 302px;
	height: 20px;
	position: absolute;
	left: -1px;
	top: -21px;
	font-size: 10px;
	font-family: sans-serif;
	color: #AAA;
	text-align: left;
}
#sr2_300x600_03 .live{
width: 139px;
height: 62px;
background: url(../img/live_a_full_life.png) no-repeat;
position: absolute;
left: 18px;
top: 17px;
z-index: 0;
opacity: 0.0;
}
#sr2_300x600_03 .theCThybrid{
width: 112px;
height: 19px;
background: url(../img/the_CT_hybrid.png) no-repeat;
background-repeat: no-repeat;
position: absolute;
background-size: contain;
left: 18px;
top: 93px;
opacity: 0.0;
}
#sr2_300x600_03 .rule01{
width: 0px;
height: 0px;
background-color: #fff;
position: absolute;
border-top:2px solid #000;
left: 17px;
bottom: 512px;
z-index: 1;
}
#sr2_300x600_03 .rule02{
width: 0px;
height: 0px;
background-color: #fff;
position: absolute;
border-bottom:2px solid #000;
left: 17px;
top: 86px;
z-index: 2;
}
#sr2_300x600_03 .optionsInfo{
width: 59px;
height: 25px;
background: url(../img/options_shown-important_info.png) no-repeat;
position: absolute;
background-size: contain;
right: 18px;
top: 515px;
opacity: 0.0;
z-index: 2;
}
#sr2_300x600_03 .logo{
position: absolute;
left: 18px;
bottom: 23px;
width: 112px;
height: 20px;
background: url(../img/lexus_logo.png) no-repeat;
opacity: 0.0;
}
#sr2_300x600_03 .learnMore{
transition: background 0.3s;
width: 112px;
height: 30px;
background: url(../img/learn_more_button.png) no-repeat;
position: absolute;
right: 18px;
bottom: 18px;
z-index: 0;
cursor: pointer;
opacity: 0.0;
}#sr2_300x600_03 .learnMore:hover{
background: url(../img/learn_more_button-Hover.png) no-repeat;
}
/* ///////////////////////// NUMBER OneC /////////////////////////*/
