/* ///////////////////////// NUMBER OneC /////////////////////////*/
#dr300x250_01{
position: relative;
display: inline-block;
margin: 40px;
background-color: #FFF;
width: 300px;
height: 250px;
cursor: pointer;
border:1px solid #000;
}
#dr300x250_01 .label{
	width: 302px;
	height: 20px;
	position: absolute;
	left: -1px;
	top: -21px;
	font-size: 10px;
	font-family: sans-serif;
	color: #AAA;
	text-align: left;
}
#dr300x250_01 .resistance{
width: 255px;
height: 22px;
background: url(../img/resistance_is_futile.png)no-repeat;
position: absolute;
left: 12px;
top: 12px;
z-index: 0;
opacity: 0.0;
}
#dr300x250_01 .firstEver{
width: 168px;
height: 18px;
background: url(../img/the_first_ever_rc_coupe.png)no-repeat;
position: absolute;
left: 12px;
top: 48px;
z-index: 0;
opacity: 0.0;
}
#dr300x250_01 .optionsInfo{
width: 59px;
height: 25px;
background: url(../img/options_shown-important_info.png)no-repeat;
position: absolute;
background-size: contain;
right: 11px;
top: 172px;
opacity: 0.0;
z-index: 2;
}
#dr300x250_01 .logo{
position: absolute;
left: 12px;
top: 212px;
width: 112px;
height: 20px;
background: url(../img/lexus_logo.png)no-repeat;
opacity: 0.0;
}
#dr300x250_01 .learnMore{
transition: background 0.3s;
width: 112px;
height: 30px;
background: url(../img/learn_more_button.png)no-repeat;
position: absolute;
right: 12px;
bottom: 12px;
z-index: 0;
cursor: pointer;
opacity: 0.0;
}
#dr300x250_01 .learnMore:hover{
background: url(../img/learn_more_button-Hover.png)no-repeat;
}
/* ///////////////////////// NUMBER OneC /////////////////////////*/
#dr300x250_01 .thickRule{
width: 0px;
height: 0px;
background-color: #fff;
position: absolute;
border-top:6px solid #000;
left: 12px;
bottom: 206px;
z-index: 1;
}
#dr300x250_01 .thinRule{
width: 0px;
height: 26px;
background-color: #fff;
position: absolute;
border-top:2px solid #000;
left: 12px;
bottom: 180px;
opacity: 0.0;
z-index: 1;
}